@page "/extended"
@inject AppData AppData

<table class="table">
    <!-- Physics -->
    <thead>
        <tr>
            <th>Physics</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Constant Wind</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ConstantWind" /></td>
    </tr>
    <tr>
        <td>Wind</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.Wind" min="-32768" max="32767" /></td>
    </tr>
    <tr>
        <td>Wind Bias</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.WindBias" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Gravity</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.Gravity" min="0.0000152587890625" max="200" /></td>
    </tr>
    <tr>
        <td>Terrain Friction</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.Friction" min="0" max="2.54998779296875" /></td>
    </tr>
    <tr>
        <td>Rope Knocking</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.RopeKnockForce" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Phased Worms (Allied)</td>
        <td>
            <select @bind="AppData.Scheme.Extended.WormPhasingAlly">
                @foreach (var element in Enum.GetValues(typeof(WormPhasing)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Phased Worms (Enemy)</td>
        <td>
            <select @bind="AppData.Scheme.Extended.WormPhasingEnemy">
                @foreach (var element in Enum.GetValues(typeof(WormPhasing)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Explosions Push All Objects</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ObjectPushByExplosion" /></td>
    </tr>
    <tr>
        <td>Pneumatic Drill Imparts Velocity</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.DrillImpartsVelocity" /></td>
    </tr>
    <tr>
        <td>Petrol Turn Decay</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.FlameTurnDecay" min="0" max="1" step="0.01" /></td>
    </tr>
    <tr>
        <td>Petrol Touch Decay</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.FlameTouchDecay" /></td>
    </tr>
    <tr>
        <td>Maximum Flamelet Count</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.FlameLimit" min="1" max="200" /></td>
    </tr>
    <tr>
        <td>Maximum Projectile Speed</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.ProjectileMaxSpeed" min="0" max="32768" /></td>
    </tr>
    <tr>
        <td>Maximum Rope Speed</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.RopeMaxSpeed" min="0" max="32768" /></td>
    </tr>
    <tr>
        <td>Maximum Jet Pack Speed</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.JetpackMaxSpeed" min="0" max="32768" /></td>
    </tr>
    <!-- Gameplay -->
    <thead>
        <tr>
            <th>Gameplay</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Unrestrict Rope</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.RopeUpgrade" /></td>
    </tr>
    <tr>
        <td>Maximum Crate Count on Map at Once</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.CrateLimit" min="0" max="32767" /></td>
    </tr>
    <tr>
        <td>Sudden Death Disabled Worm Select</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.SuddenDeathNoWormSelect" /></td>
    </tr>
    <tr>
        <td>Sudden Death Worm Damage Per Turn</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.SuddenDeathTurnDamage" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Batty Rope</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.BattyRope" /></td>
    </tr>
    <tr>
        <td>Rope-Roll Drops</td>
        <td>
            <select @bind="AppData.Scheme.Extended.RopeRollDrops">
                @foreach (var element in Enum.GetValues(typeof(RopeRollDrops)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>X-Impact Loss of Control</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.KeepControlXImpact" /></td>
    </tr>
    <tr>
        <td>Keep Control After Bumping Head</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.KeepControlHeadBump" /></td>
    </tr>
    <tr>
        <td>Keep Control After Skimming</td>
        <td>
            <select @bind="AppData.Scheme.Extended.KeepControlSkim">
                @foreach (var element in Enum.GetValues(typeof(SkimControlLoss)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Fall Damage is Triggered by Explosions</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ExplosionFallDamage" /></td>
    </tr>
    <tr>
        <td>Undetermined Crates</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.UndeterminedCrates" /></td>
    </tr>
    <tr>
        <td>Undetermined Fuses</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.UndeterminedMineFuse" /></td>
    </tr>
    <tr>
        <td>Pause Timer While Firing</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.FiringPausesTimer" /></td>
    </tr>
    <tr>
        <td>Loss of Control Doesn't End Turn</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.LoseControlDoesntEndTurn" /></td>
    </tr>
    <tr>
        <td>Weapon Use Doesn't End Turn</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ShotDoesntEndTurn" /></td>
    </tr>
    <tr>
        <td>Enabling Above Option Doesn't Block Any Weapons</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ShotDoesntEndTurnAll" /></td>
    </tr>
    <tr>
        <td>Game Engine Speed</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.GameSpeed" min="0.0625" max="128" step="0.1" /></td>
    </tr>
    <tr>
        <td>Fractional Round Timer</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.RoundTimeFractional" /></td>
    </tr>
    <tr>
        <td>Automatic End-of-Turn Retreat</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AutoRetreat" /></td>
    </tr>
    <tr>
        <td>Health Crates Cure Poison</td>
        <td>
            <select @bind="AppData.Scheme.Extended.HealthCure">
                @foreach (var element in Enum.GetValues(typeof(HealthCure)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Sheep Heaven's Gate</td>
        <td>
            <select @bind="AppData.Scheme.Extended.SheepHeavenFlags">
                @foreach (var element in Enum.GetValues(typeof(SheepHeavenFlags)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Conserve Instant Utilities</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ConserveUtilities" /></td>
    </tr>
    <tr>
        <td>Expedite Instant Utilities</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ExpediteUtilities" /></td>
    </tr>
    <tr>
        <td>Double Time Stack Limit</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.DoubleTimeCount" min="0" max="255" /></td>
    </tr>
    <!-- Glitch emulation -->
    <thead>
        <tr>
            <th>Glitch Emulation</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Indian Rope Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.IndianRopeGlitch" /></td>
    </tr>
    <tr>
        <td>Herd-Doubling Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.HerdDoublingGlitch" /></td>
    </tr>
    <tr>
        <td>Jet Pack Bungee Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.JetpackBungeeGlitch" /></td>
    </tr>
    <tr>
        <td>Angle Cheat Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AngleCheatGlitch" /></td>
    </tr>
    <tr>
        <td>Glide Glitch</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.GlideGlitch" /></td>
    </tr>
    <tr>
        <td>Skip-Walking</td>
        <td>
            <select @bind="AppData.Scheme.Extended.SkipWalk">
                @foreach (var element in Enum.GetValues(typeof(SkipWalk)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Block Roofing</td>
        <td>
            <select @bind="AppData.Scheme.Extended.Roofing">
                @foreach (var element in Enum.GetValues(typeof(Roofing)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Floating Weapon Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.FloatingWeaponGlitch" /></td>
    </tr>
    <tr>
        <td>Terrain Overlap Phasing Glitch</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.TerrainOverlapGlitch" /></td>
    </tr>
    <!-- Input -->
    <thead>
        <tr>
            <th>Input</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Auto-Place Worms by Ally</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.GroupPlaceAllies" /></td>
    </tr>
    <tr>
        <td>Circular Aim</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.CircularAim" /></td>
    </tr>
    <tr>
        <td>Anti-Lock Aim</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AntiLockAim" /></td>
    </tr>
    <tr>
        <td>Anti-Lock Power</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AntiLockPower" /></td>
    </tr>
    <tr>
        <td>Worm Selection Doesn't End Hot Seat</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.WormSelectKeepHotSeat" /></td>
    </tr>
    <tr>
        <td>Worm Selection is Never Cancelled</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.WormSelectAnytime" /></td>
    </tr>
    <tr>
        <td>Girder Radius Assist</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.GirderRadiusAssist" /></td>
    </tr>
    <!-- Visual -->
    <thead>
        <tr>
            <th>Visual</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Blood Level</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.BloodAmount" min="0" max="255" /></td>
    </tr>
    <!-- RubberWorm -->
    <thead>
        <tr>
            <th>RubberWorm</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Bounciness</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.WormBounce" min="0" max="1" step="0.1" /></td>
    </tr>
    <tr>
        <td>Air Viscosity</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.Viscosity" min="0" max="0.25" step="0.05" /></td>
    </tr>
    <tr>
        <td>Air Viscosity Applies to Worms</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ViscosityWorms" /></td>
    </tr>
    <tr>
        <td>Wind Influence</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.RwWind" min="0" max="1" step="0.1" /></td>
    </tr>
    <tr>
        <td>Wind Influence Applies to Worms</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.RwWindWorms" /></td>
    </tr>
    <tr>
        <td>Gravity Type</td>
        <td>
            <select @bind="AppData.Scheme.Extended.RwGravityType">
                @foreach (var element in Enum.GetValues(typeof(RwGravityType)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Gravity Strength</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.RwGravity" min="-16384" max="16384" /></td>
    </tr>
    <tr>
        <td>Crate Rate</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.CrateRate" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Crate Shower</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.CrateShower" /></td>
    </tr>
    <tr>
        <td>Anti-Sink</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AntiSink" /></td>
    </tr>
    <tr>
        <td>Remember Weapons</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.WeaponsDontChange" /></td>
    </tr>
    <tr>
        <td>Extended Fuses / Herds</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.ExtendedFuse" /></td>
    </tr>
    <tr>
        <td>Anti-Lock Aim</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Extended.AutoReaim" /></td>
    </tr>
    <tr>
        <td>Kaos Mod</td>
        <td><input type="number" @bind="AppData.Scheme.Extended.KaosMod" min="0" max="5" /></td>
    </tr>
</table>

@code {
    // ---- METHODS (PROTECTED) ------------------------------------------------------------------------------------

    /// <inheritdoc/>
    protected override void OnInitialized() => AppData.OnChange += StateHasChanged;
}
