﻿@page "/"
@inject AppData AppData

<table class="table">
    <!-- Scheme Options -->
    <thead>
        <tr>
            <th>Scheme Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Version</td>
        <td>
            <select @bind="AppData.Scheme.Version">
                @foreach (var element in Enum.GetValues(typeof(SchemeVersion)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Scheme Editor Tag</td>
        <td>
            <select @bind="AppData.Scheme.SchemeEditor">
                @foreach (var element in Enum.GetValues(typeof(SchemeEditor)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Trailing Data</td>
        <td><!--<input @bind="AppData.Scheme.Attachment" />--></td>
    </tr>
    <!-- Game Options -->
    <thead>
        <tr>
            <th>Game Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Worm Energy</td>
        <td><input type="number" @bind="AppData.Scheme.WormEnergy" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Number of Wins</td>
        <td><input type="number" @bind="AppData.Scheme.NumberOfWins" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Worm Select</td>
        <td>
            <select @bind="AppData.Scheme.WormSelect">
                @foreach (var element in Enum.GetValues(typeof(WormSelect)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Manual Worm Placement</td>
        <td><input type="checkbox" @bind="AppData.Scheme.ManualWormPlacement" /></td>
    </tr>
    <tr>
        <td>Artillery Mode</td>
        <td><input type="checkbox" @bind="AppData.Scheme.ArtilleryMode" /></td>
    </tr>
    <tr>
        <td>Stockpiling</td>
        <td>
            <select @bind="AppData.Scheme.Stockpiling">
                @foreach (var element in Enum.GetValues(typeof(Stockpiling)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Donor Cards</td>
        <td><input type="checkbox" @bind="AppData.Scheme.DonorCards" /></td>
    </tr>
    <tr>
        <td>Fall Damage %</td>
        <td><input type="number" @bind="AppData.Scheme.FallDamage" min="0" max="508" step="4" /></td>
    </tr>
    <tr>
        <td>Automatic Replays</td>
        <td><input type="number" @bind="AppData.Scheme.Replays" /></td>
    </tr>
    <!-- Time Options -->
    <thead>
        <tr>
            <th>Time Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Round Time</td>
        <td>
            <input type="number" @bind="AppData.Scheme.RoundTimeMinutes" min="0" max="127 " /> minutes
            <input type="number" @bind="AppData.Scheme.RoundTimeSeconds" min="1" max="128" /> seconds
        </td>
    </tr>
    <tr>
        <td>Turn Time</td>
        <td><input type="number" @bind="AppData.Scheme.TurnTime" min="0" max="255" /> >127=infinite</td>
    </tr>
    <tr>
        <td>Retreat Time</td>
        <td><input type="number" @bind="AppData.Scheme.RetreatTime" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Rope Retreat Time</td>
        <td><input type="number" @bind="AppData.Scheme.RetreatTimeRope" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Hot Seat Time</td>
        <td><input type="number" @bind="AppData.Scheme.HotSeatTime" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Display Round Time</td>
        <td><input type="checkbox" @bind="AppData.Scheme.ShowRoundTime" /></td>
    </tr>
    <!-- Crate Options -->
    <thead>
        <tr>
            <th>Crate Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Weapon Crate %</td>
        <td><input type="number" @bind="AppData.Scheme.WeaponCrateProb" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Utility Crate %</td>
        <td><input type="number" @bind="AppData.Scheme.UtilityCrateProb" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Health Crate %</td>
        <td><input type="number" @bind="AppData.Scheme.HealthCrateProb" min="0" max="255" /></td>
    </tr>
    <tr>
        <td>Health Crate Energy</td>
        <td><input type="number" @bind="AppData.Scheme.HealthCrateEnergy" min="0" max="255" /></td>
    </tr>
    <!-- Object options -->
    <thead>
        <tr>
            <th>Object Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Object Types</td>
        <td>
            <select @bind="AppData.Scheme.ObjectTypes">
                @foreach (var element in Enum.GetValues(typeof(MapObjectType)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Object Count</td>
        <td><input type="number" @bind="AppData.Scheme.ObjectCount" min="1" max="250" /></td>
    </tr>
    <tr>
        <td>Dud Mines</td>
        <td><input type="checkbox" @bind="AppData.Scheme.DudMines" /></td>
    </tr>
    <tr>
        <td>Mine Fuse</td>
        <td>
            <input type="number" @bind="AppData.Scheme.MineDelay" min="0" max="127" />
            <input type="checkbox" @bind="AppData.Scheme.MineDelayRandom" />
        </td>
    </tr>
    <!-- Sudden Death Options -->
    <thead>
        <tr>
            <th>Sudden Death Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Event</td>
        <td>
            <select @bind="AppData.Scheme.SuddenDeathEvent">
                @foreach (var element in Enum.GetValues(typeof(SuddenDeathEvent)))
                {
                    <option value="@element">@element</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Water Rise Rate</td>
        <td><input type="number" @bind="AppData.Scheme.WaterRiseRate" min="0" max="253" /></td>
    </tr>
    <!-- Cheat options -->
    <thead>
        <tr>
            <th>Cheat Options</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Blood</td>
        <td><input type="checkbox" @bind="AppData.Scheme.Blood" /></td>
    </tr>
    <tr>
        <td>Aqua Sheep</td>
        <td><input type="checkbox" @bind="AppData.Scheme.AquaSheep" /></td>
    </tr>
    <tr>
        <td>Sheep Heaven</td>
        <td><input type="checkbox" @bind="AppData.Scheme.SheepHeaven" /></td>
    </tr>
    <tr>
        <td>God Worms</td>
        <td><input type="checkbox" @bind="AppData.Scheme.GodWorms" /></td>
    </tr>
    <tr>
        <td>Indestructible Land</td>
        <td><input type="checkbox" @bind="AppData.Scheme.IndiLand" /></td>
    </tr>
    <tr>
        <td>Upgraded Grenade</td>
        <td><input type="checkbox" @bind="AppData.Scheme.UpgradeGrenade" /></td>
    </tr>
    <tr>
        <td>Upgraded Shotgun</td>
        <td><input type="checkbox" @bind="AppData.Scheme.UpgradeShotgun" /></td>
    </tr>
    <tr>
        <td>Upgraded Cluster</td>
        <td><input type="checkbox" @bind="AppData.Scheme.UpgradeCluster" /></td>
    </tr>
    <tr>
        <td>Upgraded Longbow</td>
        <td><input type="checkbox" @bind="AppData.Scheme.UpgradeLongbow" /></td>
    </tr>
</table>

@code {
    // ---- METHODS (PROTECTED) ------------------------------------------------------------------------------------

    /// <inheritdoc/>
    protected override void OnInitialized() => AppData.OnChange += StateHasChanged;
}
