﻿@page "/weapons"
@inject AppData AppData

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ammo</th>
            <th>Power</th>
            <th>Delay</th>
            <th>Crates</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < AppData.Scheme.Weapons.Count; i++)
        {
            <tr>
                <td>@((Weapon)i)</td>
                <td><input type="number" @bind="AppData.Scheme.Weapons[i].Ammo" min="0" max="255" /></td>
                <td><input type="number" @bind="AppData.Scheme.Weapons[i].Power" min="0" max="255" /></td>
                <td><input type="number" @bind="AppData.Scheme.Weapons[i].Delay" min="0" max="255" /></td>
                <td><input type="number" @bind="AppData.Scheme.Weapons[i].Prob" min="0" max="255" /></td>
            </tr>
        }
    </tbody>
</table>
