﻿@inherits LayoutComponentBase
@inject AppData AppData
@inject IBlazorDownloadFileService DownloadService
@using System.IO;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <InputFile OnChange="OnFileSelected" />
        <input @bind="AppData.SchemeName" />
        <button class="btn btn-primary" type="button" @onclick="OnSaveClicked">Save</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    // ---- METHODS (PRIVATE) --------------------------------------------------------------------------------------

    async Task OnFileSelected(IFileListEntry[] files)
    {
        IFileListEntry file = files.FirstOrDefault();
        if (file == null)
            return;

        // Synchronous file reading is not supported, so read it asynchronously into a buffer.
        using MemoryStream stream = new MemoryStream();
        await file.Data.CopyToAsync(stream);
        stream.Position = 0;

        AppData.SchemeName = Path.GetFileNameWithoutExtension(file.Name);
        AppData.Scheme = new Scheme(stream);
    }

    async Task OnSaveClicked()
    {
        using MemoryStream stream = new MemoryStream();
        AppData.Scheme.Save(stream);
        stream.Position = 0;

        await DownloadService.DownloadFile(Path.ChangeExtension(AppData.SchemeName, "wsc"), stream);
    }
}