﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Worms Scheme Editor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@_navMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Options
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="weapons">
                <span class="oi oi-fire" aria-hidden="true"></span> Weapons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="extended">
                <span class="oi oi-wrench" aria-hidden="true"></span> Extended
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="console">
                <span class="oi oi-terminal" aria-hidden="true"></span> Console
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? _navMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => _collapseNavMenu = !_collapseNavMenu;
}
